.box {
  width: 240px;
  height: 360px;
  padding: 10px;
  margin: 20px;
  box-shadow: 3px 3px 7px grey;
  background-color: white;
  position: relative;
  font-family: 'Blinker', sans-serif, Roboto, "Helvetica Neue", sans-serif;
}

.main-img {
  height: 270px;
  width: 220px;
  padding: 0;
  background: #000;
  overflow: hidden;
  border-radius: 2%;
}

.main-img img {
  border-radius: 2%;
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

strong {
  font-size: 24px;
  color: black;
}

.description {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 200px;
  text-align: left;
  display: none;
}

#crop {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  overflow: hidden;
  -webkit-box-orient: vertical;
  visibility: visible;
  text-overflow: ellipsis;
  color: white;
}

#crop > span {
  color: white;
  line-height: 1.5;
  font-size: larger;
}

a:hover {
  transition-duration: 2ms;

  .description {
    display: block;
  }

  .main-img img {
    opacity: 0.3;
  }
}

.media-content {
  overflow-x: inherit;
}
