<div class="box column is-one-quarter is-full-mobile">
  <a [routerLink]="['/stories', story.id]">
    <div class="main-img has-text-centered">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_270,w_220/{{story.imageId}}.png"/>
    </div>

    <div class="media-content">
      <div class="has-text-centered">
        <p>
          <strong>{{story.title}}</strong>
        </p>
      </div>
      <div class="description">
        <p id="crop"><span>{{story.description}}</span></p>
        <p></p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <p class="tags">
            <mat-chip-list>
              <mat-chip
                *ngFor="let tag of story.tags.slice(0, 3)">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
          </p>
        </div>
      </nav>
    </div>
  </a>
</div>
