.back {
  margin-left: 5%;
}

.back i {
  margin-right: 5px;
}

.content {
  font-family: "Blinker", sans-serif, Roboto, "Helvetica Neue", sans-serif;
}

.not-liked {
  color: lightgray;
}

.not-liked:hover {
  color: gray;
}

.liked {
  color: #ed002f;
}

.disabled-like {
  color: lightgray;
  pointer-events: none;
  cursor: default;
}

.like-count {
  padding-left: 5px;
  font-size: 18px;
  margin-bottom: 0;
}

.like {
  display: flex;
  align-items: center;
}
