.hero-foot a {
  color: black;
  margin: 0 20px;
}

.hero-foot a:hover {
  color: darkcyan;
}

.card-footer {
  padding-bottom: 20px;
  color: black;
}

.hero-foot {
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer {
  height: 200px;
  background-color: white;
}

.line {
  margin-left: 30%;
}
