<footer class="footer foot">
  <div class="content has-text-centered">
    <div class="is-inline-block">
      <div class="line">
        <img src="/assets/img/line1.png">
      </div>
    </div>
    <a href="#" class="logo">
      <img src="/assets/img/PenManSmaller.png" width="250" height="60" alt="Penman">
    </a>

    <div class="hero-foot">
      <a href="#"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="far fa-envelope fa-2x" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
    </div>


    <div class="card-footer">
      <p><i>COPYRIGHT PENMAN fan fiction. 2020</i></p>
    </div>

  </div>
</footer>
