<nav class="navbar  is-transparent is-fixed is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#" routerLink="/">
      <i class="fas fa-chevron-left fa-lg" aria-hidden="true"></i>
    </a>

    <div class="navbar-item storyTitle">
      <p class="is-large is-bold">{{'editStoryInfo'}} <b>{{story.title}}</b></p>
    </div>
  </div>
  <div class="navbar-menu is-active">
    <div class="navbar-end">
      <div class="navbar-item buttons">
        <a href="#" class="button is-light" (click)="read()">Чтение</a>
        <button type="submit" form="story" (submit)="onSubmit()" class="button is-primary has-icons-left">
          <i class="fas fa-check"></i>
          Сохранить
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="columns is-8 is-variable is-centered">
  <div class="column is-one-third-desktop is-mobil is-fluid has-text-centered">
    <div class="box main-img">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_thumb,h_320,w_250/{{story.imageId}}.png"/>
      <div class="overlay">
        <a class="icon" (click)="changeStoryImage()" >
          <i class="fa fa-picture-o" matTooltipPosition="right" matTooltip="Change story image"></i>
        </a>
      </div>
      <div class="spinner-overlay">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
                     size = "small"
                     color = "#fff"
                     type = "square-jelly-box"
                     [fullScreen] = "false">
        </ngx-spinner>
      </div>
    </div>
  </div>

  <div class="card column is-half-desktop is-mobile is-fluid">
    <mat-tab-group class="is-fullwidth" animationDuration="10ms" mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="tabs">Детали истории</span>
        </ng-template>
        <div class="card-content">
          <form [formGroup]="storyForm" (ngSubmit)="onSubmit()" name="story" id="story">
            <div class="field">
              <label class="label ">Название</label>
              <div class="control">
                <input [(ngModel)]="story.title"
                       [value]="story.title"
                       [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
                       class="input"
                       formControlName="title"
                       type="text"
                       placeholder="История без названия">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Описание</label>
              <div class="control">
            <textarea [(ngModel)]="story.description"
                      [value]="story.description"
                      formControlName="description"
                      class="textarea"></textarea>
              </div>
            </div>

            <div class="navbar-divider"></div>

            <div class="field">
              <label class="label">Метки</label>
              <div>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip
                      *ngFor="let tag of tags"
                      [value]="story.tags"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(tag)">
                      {{tag}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="New tag..."
                      #tagInput
                      [(ngModel)]="story.tags"
                      [formControl]="tagCtrl"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                      {{tag}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="navbar-divider"></div>

            <div class="field">
              <label class="label">Жанр</label>
              <mat-form-field class="control">
                <mat-label>Выберите жанр</mat-label>
                <mat-select [(ngModel)]="story.genre"
                            [ngClass]="{ 'is-invalid': submitted && f.genre.errors }"
                            [value]="story.genre"
                            formControlName="genre"
                            panelClass="mat-select-content"
                            required="required">
                  <mat-option *ngFor="let genre of genres"
                              [value]="genre">
                    {{genre.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                  <div *ngIf="f.genre.errors.required">Genre is required</div>
                </div>
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab *ngIf="isExisted">
        <ng-template mat-tab-label>
          <span class="tabs">Оглавление</span>
        </ng-template>
        <div class="card-content">
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <a *ngFor="let chapter of story.chapters" class="navbar-item example-box" cdkDragLockAxis="y" cdkDrag>
              Глава {{chapter.number}}. {{chapter.title}}
              <span class="is-right">
                 <a [routerLink]="['/stories', story.id, 'chapters', chapter.id, 'edit']"><i class="far fa-edit"></i></a>
              <a (click)="deleteChapter(chapter.id)"><i class="far fa-trash-alt"></i></a>
              </span>
            </a>
            <hr class="divider">
            <button class="button is-primary has-icons-left is-fullwidth" (click)="addChapter()">
              <i class="fas fa-plus"></i>
              Добавить главу
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<app-file-drop-upload [isUploadWindowActive]="this.isUploadWindowActive"
                      (uploadedFileEvent)="isFileUploaded($event)"
                      (fileDroppedEvent)="isFileDropped()"
                      (onCloseModalEvent)="closeUploadWindow()">
</app-file-drop-upload>
