.columns {
  margin: 20px;
}

.navbar, .columns {
  font-family: 'Blinker', sans-serif;
}

.example-chip-list {
  width: 100%;
}

.navbar{
  z-index: 1;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list{
  border: 0;
}

.example-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 18px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.storyTitle{
  font-size: large;
  padding-top: 10px;
}

.is-right a{
  margin-right: 10px;
  display: none;
}

.fa-trash-alt{
  color: red;
}

.example-box:hover{

  color: black;
  .is-right a{
    display: inline;
  }
}

.main-img {
  height: 320px;
  width: 250px;
  z-index: 2;
  background-color: #cccccc;
  padding: 0;
  box-shadow: 3px 3px 7px grey;
  position: relative;
}

.main-img img {
  border-radius: 2%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 1;
  background-color: darkslategray;
}

.main-img:hover .overlay {
  opacity: 0.7;
}

.icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-picture-o:hover {
  color: #eee;
}
