<nav id="header" class="navbar  is-transparent fixed" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/">
      <img src="/assets/img/PenManSmaller.png" width="250" height="60" alt="Penman">
    </a>

    <div [ngClass]="{ 'is-active': classApplied}"
         class="navbar-burger burger" data-target="navbarMenu" (click)="toggleClass()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div [ngClass]="{ 'is-active': classApplied}" id="navbarMenu" class="navbar-menu">

    <div class="navbar-start">
      <button class="navbar-item button is-primary is-outlined" routerLink="/stories/new">
        <i class="fas fa-pencil-alt fa-lg" aria-hidden="true"></i>
        {{ 'write' | translate }}
      </button>
    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable genres">
        <a class="navbar-link">
          {{'genres' | translate}}
        </a>

        <div class="navbar-dropdown is-boxed">
          <a *ngFor="let genre of genres" class="navbar-item" [routerLink]="['/search']"
             [queryParams]="{ 'genre': genre.name }">
            {{genre.name}}
          </a>
        </div>
      </div>

      <a class="navbar-item" href [routerLink]="['/search']">
        <i class="fa fa-search  fa-lg" aria-hidden="true"></i>
      </a>

      <a *ngIf="isLightMode" id="darkMode" class="navbar-item" href="#" (click)="toggleMode()">
        <i class="fa fa-lightbulb fa-lg" aria-hidden="true"></i>
      </a>
      <a *ngIf="!isLightMode" id="lightMode" class="navbar-item" href="#" (click)="toggleMode()">
        <i class="far fa-lightbulb fa-lg" aria-hidden="true"></i>
      </a>

      <div class="navbar-item control">
        <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
        <div class="select">
          <select [(ngModel)]="selectedLanguage"
                  (change)="changeLanguage()">
            <option selected>en</option>
            <option>ru</option>
          </select>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="user">
        <div class="navbar-link container is-arrowless">
          <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_100,w_100/{{this.user.imageId}}.png"/>
          {{user.username}}</div>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href [routerLink]="['/profile', user.id]">
            {{'profile' | translate}}
          </a>
          <a *ngIf="isAdmin" class="navbar-item" href [routerLink]="['/admin']">
            {{'adminBoard' | translate}}
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>&nbsp;{{'logOut' | translate}}
          </a>
        </div>
      </div>

      <div class="navbar-item" *ngIf="!user">
        <div class="buttons">
          <a href="/login" class="button is-primary" routerLink="login">
            <strong>{{'logIn' | translate}}</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
