.navbar {
  height: 110px;
  padding: 20px 20px 0 20px;
  z-index: 99;
}

.navbar-item,
.navbar-link {
  font-family: 'Blinker', sans-serif;
  font-weight: bolder;
  color: black;
}

.navbar-item:hover {
  color: darkcyan;
}

.navbar-link:hover {
  color: darkcyan;
}

button.navbar-item {
  top: 30%;
}

select {
  border-color: white;
  font-family: 'Blinker', sans-serif;
  font-weight: bolder;
  color: black;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.genres {
  font-weight: normal;
}

.container {
  border-radius: 100%;
  height: 90px;
  margin-right: 10px;
  font-size: larger;
}

.container img {
  border-radius: 50%;
  margin-right: 5px;
}

.navbar-dropdown .navbar-item {
  font-weight: normal;
}

.profile{
  min-width: 160px;
}
