<div class="modal"  [ngClass]="{ 'is-active' : isUploadWindowActive }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box drag-zone">
      <ngx-file-drop dropZoneLabel="Drop files here"
                     (onFileDrop)="dropped($event)"
                     dropZoneClassName="drop-zone"
                     contentClassName="drop-zone-content"
                     directory="false">
        <ng-template ngx-file-drop-content-tmp id="template">
          Drop file here
        </ng-template>
      </ngx-file-drop>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="closeWindow()"></button>
</div>
