<div class="columns is-centered">
  <div class="box column is-three-quarters is-full-mobile">
    <div class="box level">
      <div class="level-left">
        <button type="button" class="button is-light"
                (click)="block()" title="Block"><i class="fas fa-lock"></i>{{'block' | translate}}
        </button>
        <button type="button" class="button is-light"
                (click)="unblock()" title="Unblock"><i class="fas fa-lock-open"></i>{{'unblock' | translate}}
        </button>
        <button type="button" class="button is-outlined is-primary"
                (click)="setAdmin()" title="Assign Admin">{{'assignAdmin' | translate}}
        </button>
      </div>
      <div class="level-right">
        <button type="button" class="button is-danger is-grouped-right"
                (click)="delete()" title="Delete"><i class="fas fa-trash"></i>{{'delete' | translate}}
        </button>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>
          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="toggleCheckAll()"/>
        </th>
        <th>{{'username' | translate}}</th>
        <th>{{'email' | translate}}</th>
        <th>{{'role' | translate}}</th>
        <th>{{'blocked' | translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th>
          <input type="checkbox" [(ngModel)]="user.isSelected" name="list_name" value="{{user.isSelected}}"
                 (change)="isAllSelected()"/>
        </th>
        <th><a href [routerLink]="['/profile', user.id]">{{user.username}}</a></th>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.blocked}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
