.tag {
  font-size: 16px;
}

.tag:hover {
  font-size: 18px;
  background-color: gold;
  transition-timing-function: ease-out;
  transition-duration: 550ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
  text-decoration: none;
}

.tag {
  cursor: pointer;
}

.section {
  padding-top: 5px;
}

.dropdown-divider {
  margin: 0 50px 20px 50px;
}

.button {
  margin: 10px 40px 0 40px;
}
