<div class="section columns">
  <div class="container box tags column">
    <a href="" *ngFor="let tag of tags" class="tag"
       [routerLink]="['/search']" [queryParams]="{ 'tag': tag }">{{tag}}</a>
  </div>
</div>

<div class="dropdown-divider"></div>

<div class="section has-text-centered">
  <h2 class="is-uppercase">{{'populars' | translate}}</h2>
  <div class="columns is-centered is-multiline">
    <div *ngFor="let story of popularStories">
      <app-preview [story]="story"></app-preview>
    </div>
  </div>
  <div class="columns is-centered">
    <a href class="column button is-light is-uppercase" [routerLink]="['/search']" [queryParams]="{ 'filter': 'rating' }"><p>Еще</p></a>
  </div>
</div>

<div class="dropdown-divider"></div>

<div class="section has-text-centered">
  <h2 class="is-uppercase">{{'lastUpdated' | translate}}</h2>
  <div class="columns is-centered is-multiline">
    <div *ngFor="let story of latestStories">
      <app-preview [story]="story"></app-preview>
    </div>
  </div>
  <div class="columns is-centered">
    <a href class="column button is-light is-uppercase"[routerLink]="['/search']" [queryParams]="{ 'filter': 'modifiedDate' }"><p>Еще</p></a>
  </div>
</div>



