<article *ngIf="this.currentUser" class="media is-center box is-three-quarters-widescreen is-full-mobile">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_128,w_128/{{currentUser.imageId}}.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea [(ngModel)]="comment.content" class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a type="button" class="button is-outlined is-primary"
             (click)="sendComment()">Submit</a>
        </div>
      </div>
    </nav>
  </div>
</article>

<article *ngFor="let comment of story.comments" class="box media comments">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_128,w_128/{{comment.user.imageId}}.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{comment.user.username}}&nbsp;</strong>
        <br>
        {{comment.content}}
      </p>
    </div>
  </div>
</article>

