<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-one-third-widescreen box">
      <div *ngIf="isLoginView">
        <form name="loginForm"
              (ngSubmit)="fl.form.valid && onSubmitLogin()"
              #fl="ngForm"
              novalidate>
          <div class="is-center is-capitalized">
            <h1>{{'login' | translate}}</h1>
          </div>

          <div class="field">
            <label class="label" for="email">{{'email' | translate}}</label>
            <div class="control has-icons-left">
              <input class="input" type="email" name="username" [(ngModel)]="loginForm.email"
                     required id="email" placeholder="Email" #email="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="help is-danger" *ngIf="fl.submitted && email.invalid">
              <div *ngIf="email.errors.required">{{'emailRequired' | translate}}</div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="password">{{'password' | translate}}</label>
            <div class="control has-icons-left">
              <input class="input" type="password" name="password" [(ngModel)]="loginForm.password"
                     required id="password" placeholder="Password input" #password="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="help is-danger" *ngIf="fl.submitted && password.invalid">
              <div *ngIf="password.errors.required">{{'passwordRequired' | translate}}</div>
            </div>
          </div>

          <div class="level is-mobile">
            <button class="button is-primary level-left">{{'submit' | translate}}</button>
            <div class="level-right">
              <p><span (click)="toggleLogin()">{{'signUp' | translate}}</span></p>
            </div>
            <div class="alert alert-warning" *ngIf="fl.submitted && isSignUpFailed">
              Signup failed!<br/>{{ errorMessage }}
            </div>
          </div>

        </form>
      </div>


      <div *ngIf="!isLoginView">
        <form *ngIf="!isSuccessful"
              name="registerForm"
              (ngSubmit)="fr.form.valid && onSubmitRegister()"
              #fr="ngForm"
              novalidate>
          <div class="is-center is-capitalized">
            <h1>{{'signUp' | translate}}</h1>
          </div>

          <div class="field">
            <label class="label" for="username">{{'username' | translate}}</label>
            <div class="control has-icons-left">
              <input class="input" type="text" name="username" [(ngModel)]="registerForm.username"
                     required id="username" placeholder="Username input" #username="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <div class="help is-danger" *ngIf="fr.submitted && username.invalid">
              <div *ngIf="username.errors.required">{{'usernameRequired' | translate}}</div>
              <div *ngIf="errorMessage!=''">{{errorMessage}}</div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="email">{{'email' | translate}}</label>
            <div class="control has-icons-left">
              <input class="input" type="email" name="email" [(ngModel)]="registerForm.email"
                     required id="email" placeholder="Email input" #email="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div class="help is-danger" *ngIf="fr.submitted && email.invalid">
              <div *ngIf="email.errors.required">{{'emailRequired' | translate}}</div>
              <div *ngIf="errorMessage!=''">{{errorMessage}}</div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="password">{{'password' | translate}}</label>
            <div class="control has-icons-left">
              <input class="input" type="password" name="password" [(ngModel)]="registerForm.password"
                     required id="password" placeholder="Password input" #password="ngModel">
              <span class="icon is-small is-left">
                <i class="fas fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="help is-danger" *ngIf="fr.submitted && password.invalid">
              <div *ngIf="password.errors.required">{{'passwordRequired' | translate}}</div>
              <div *ngIf="errorMessage!=''">{{errorMessage}}</div>
            </div>
          </div>

          <div class="level is-mobile">
            <button class="button is-primary level-left">{{'submit' | translate}}</button>
            <div class="level-right">
              <p><span (click)="toggleLogin()">{{'haveAccount' | translate}}?</span></p>
            </div>
            <div class="alert alert-warning" *ngIf="fr.submitted && isSignUpFailed">
              {{'signUpFailed' | translate}}!<br/>{{ errorMessage }}
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
