.container{
  font-family: 'Blinker', sans-serif;
  font-weight: bolder;
  color: black;
}

span{
  color: dodgerblue;
  cursor: pointer;
  margin-right: 2px;
}

span:hover{
  color: darkcyan;
}

#second{display:none;}
