<section class="hero is-primary is-medium is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        Oops...
      </h1>
      <h2 class="subtitle">
        Page not found
      </h2>
    </div>
  </div>
</section>
