.navbar{
  z-index: 1;
}

ejs-richtexteditor {
  z-index: 1;
  border-radius: 5px;
  font-family: 'Blinker', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: darkcyan;
}

.storyName {
  font-size: large;
  padding-top: 10px;
}

mat-form-field {
  font-size: x-large;
  width: 400px !important;
}


