<nav class="navbar  is-transparent is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href [routerLink]="['/stories', storyId, 'edit']">
      <i class="fas fa-chevron-left fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="storyName">{{story.title}}</p>
      </div>
      <a class="navbar-item" (click)="addChapterImage()">
        <i class="far fa-image fa-2x has-tooltip-right" aria-hidden="true" matTooltipPosition="right"
           matTooltip="Добавить изображение"></i>
      </a>
    </div>
    <div class="navbar-end">

      <div class="navbar-item buttons">

        <button type="submit" form="title" class="button is-primary has-icons-left" (click)="save()">
          <i class="fas fa-check"></i>
          Сохранить
        </button>
        <button class="button is-light" form="title" (click)="preview()">{{'preview' | translate}}</button>
      </div>
    </div>
  </div>
</nav>

<div class="field is-centered columns is-full-mobile">
  <div class="control is-center is-mobile">
    <form name="title" id="title">
      <mat-form-field appearance="standard">
        <input [(ngModel)]="chapter.title" name="title" matInput placeholder="Глава без названия">
      </mat-form-field>
    </form>
  </div>
</div>
<div class="is-centered columns is-full-mobile" *ngIf="!!chapter.imageId">
  <div class="is-center is-mobile">
    <img src="http://res.cloudinary.com/profunding/image/upload/c_thumb,h_320,w_250/{{chapter.imageId}}.png"/>
  </div>
</div>

<ejs-richtexteditor [(ngModel)]="chapter.content" [toolbarSettings]='tools' [(value)]="textEditor">
  <ng-template>
    <p>Type your text</p>
  </ng-template>
</ejs-richtexteditor>

<app-file-drop-upload [isUploadWindowActive]="this.isUploadWindowActive"
                      (uploadedFileEvent)="isFileUploaded($event)"
                      (fileDroppedEvent)="isFileDropped()"
                      (onCloseModalEvent)="closeUploadWindow()">
</app-file-drop-upload>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size = "small"
             color = "#fff"
             type = "square-jelly-box"
             [fullScreen] = "true">
</ngx-spinner>
