<div class="columns">
  <div class="column is-full profileInfo has-background-primary has-text-centered is-size-3">

    <div class="container">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_150,w_150/{{this.user.imageId}}.png"/>
      <div *ngIf="this.canEdit" class="overlay">
        <a class="icon" title="Change photo" (click)="changePhoto()">
          <i class="fa fa-camera"></i>
        </a>
      </div>
      <div *ngIf="this.canEdit" class="spinner-overlay">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
                     size="small"
                     color="#fff"
                     type="square-jelly-box"
                     [fullScreen]="false">
        </ngx-spinner>
      </div>
    </div>
    <div class="has-text-primary-light userName">
      <div class=”control-section”>
        <ejs-inplaceeditor id="username"
                           mode="Inline"
                           type="Text"
                           [(ngModel)]="this.user.username"
                           [disabled]="!this.canEdit" (actionSuccess)="onUsernameChange($event)"></ejs-inplaceeditor>
      </div>
      <p class="is-family-primary is-size-5">{{'allStories' | translate}}: {{user.stories.length}}</p>
    </div>
  </div>
</div>

<app-file-drop-upload [isUploadWindowActive]="this.isUploadWindowActive"
                      (uploadedFileEvent)="isFileUploaded($event)"
                      (fileDroppedEvent)="isFileDropped()"
                      (onCloseModalEvent)="closeUploadWindow()">
</app-file-drop-upload>

<div class="section has-text-centered">
  <div class="columns is-centered is-multiline">
    <div *ngFor="let story of user.stories">
      <app-preview [story]="story"></app-preview>
    </div>
  </div>
</div>
