.profileInfo {
  font-family: 'Blinker', sans-serif;
  height: 350px;
  padding-top: 40px;
}

.userName {
  margin-top: 10px;
}

#username_wrap {
  margin-left: 25px;
}

#username_wrap:hover {
  background-color: transparent;
}

.e-inplaceeditor .e-editable-value-wrapper .e-editable-value {
  color: white;
  font-family: inherit;
  font-size: 20px;
  border-bottom: 1px dashed white;
}

.container {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 150px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 150px;
}

.container img {
  border-radius: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.25s;
  z-index: 1;
  background-color: darkslategray;
}

.container:hover .overlay {
  opacity: 0.7;
}

.icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.columns {
  margin: 20px;
  width: 100%;
}
