.storyInfo {
  font-family: 'Blinker', sans-serif, Roboto, "Helvetica Neue", sans-serif;
  height: 270px;
}

.main-img {
  height: 300px;
  width: 220px;
  background-color: #cccccc;
  padding: 0;
  box-shadow: 3px 3px 7px grey;
}

.main-img img {
  border-radius: 2%;
}

.user-img{
  border-radius: 100%;
  height: 50px;
  position: relative;
  width: 50px;
  padding: 0;
}

.user-img img{
  border-radius: 50%;
}
.container {
  margin-top: 50px;
  margin-left: 35%;
  z-index: 10;
}

.title, .subtitle {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.author {
  margin-top: 30px;
  display: flex;
}

.user {
  color: white;
}

.user:hover {
  color: white;
  text-decoration: underline;
}

.section {
  padding: 0;
  margin-top: 10px;
  z-index: 3;
}

.is-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  letter-spacing: inherit;
}

.panel {
  padding: 0;
}

.panel-heading,
.panel-block{
  padding-left: 40px;
}

.inf{
  font-size: medium;
}

.author .subtitle{
  padding-top: 8px;
}

.button{
  margin-right: 10px;
  font-weight: bolder;
}

.level-left{
  margin-top: 30px;
}

#header{
  background-size: 100% 100px;
  background: linear-gradient(to bottom, #00d1b2 75%, white 25%);
}
