<div class="columns is-centered" id="header" *ngIf="story">
  <div class="column is-one-fifth is-full-mobile">
    <div class="box main-img">
      <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_300,w_220/{{story.imageId}}.png"/>
    </div>
  </div>
  <div class="column is-one-fifth is-full-mobile has-text-left">
    <h2 class="title is-2">{{story.title}}</h2>
    <p class="subtitle inf">{{'allChapters' | translate}}: {{story.chapters.length}}</p>

    <app-rating (selectedRating)="updateRating($event)" [rating]="story.rating" [isVoted]="isVoted"></app-rating>

    <div class="author level" *ngIf="story.user">
      <div class="level-left">
        <div class="user-img level-item">
          <img src="http://res.cloudinary.com/profunding/image/upload/c_fill,h_50,w_50/{{story.user.imageId}}.png"/>
        </div>
        <p class="subtitle level-item"><a class="is-bold user">{{story.user.username}}</a></p>
      </div>
    </div>
    <div class="level-left" *ngIf="story.chapters[0]">
      <a class="level-item button is-primary is-medium has-icons-left"
         [routerLink]="['/stories', story.id, 'chapters', story.chapters[0].id]">
        <i class="fas fa-book-open" aria-hidden="true"></i>&nbsp;read</a>
      <a class="level-item button is-outlined is-primary is-medium"
         [routerLink]="['/stories', story.id, 'edit']">
        <i class="fas fa-pencil-alt fa-lg" aria-hidden="true"></i>&nbsp;edit</a>
    </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>

<div class="columns section is-centered">

  <div class="box card column is-three-quarters-widescreen is-full-mobile" *ngIf="story">
    <div class="card-content has-text-justified is-text">

      <p>{{story.description}}</p>
      <p class="tags">
        <mat-chip-list>
          <mat-chip
            *ngFor="let tag of story.tags"
            [value]="story.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </p>
    </div>
  </div>
</div>


<div class="columns section is-centered" *ngIf="story">
  <div class="panel is-primary column is-three-quarters-widescreen is-full-mobile">
    <div class="has-text-justified is-text">
      <p class="panel-heading">{{'contents' | translate}}</p>
      <p *ngFor="let chapter of story.chapters">
        <a class="panel-block" [routerLink]="['/stories', story.id, 'chapters', chapter.id]">
          Глава {{chapter.number}}. {{chapter.title}}
        </a>
      </p>
    </div>
  </div>
</div>

<app-comments *ngIf="story" [story]="story"></app-comments>
