<div class="section is-centered has-text-centered">
  <div class="columns">
    <div class="container column is-full">
      <div *ngIf="!isFullTextSearch">
        <h1>{{filter}}&nbsp;</h1>
      </div>
      <div *ngIf="isFullTextSearch" class="control is-center is-mobile">
        <form name="title" id="title">
          <mat-form-field appearance="standard">
            <input [(ngModel)]="searchValue" name="title" matInput placeholder="Введите фильтр">
          </mat-form-field>
        </form>
      </div>
      <div class="columns is-centered is-multiline">
        <app-preview *ngFor="let story of stories" [story]="story"></app-preview>
      </div>
    </div>
  </div>
  <div *ngIf="!isLastPage" class="columns is-centered">
    <button class="column button is-light is-uppercase" (click)="getNextPage()">Еще</button>
  </div>
</div>
