mat-form-field {
  font-size: xx-large;
  width: 90% !important;
  padding: 0;
  margin: 0;
  height: 120px;
}

.section{
  padding-top: 0;
  margin-top: 0;
}

.container{
  padding-top: 0;
}

.button {
  margin: 10px 40px 0 40px;
}
