.confirmBlock {
  height: 200px;
  position: relative;
}

.confirmBlock p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 30%;
  margin: auto;
  line-height: 27px;
}
