@import "../node_modules/@syncfusion/ej2/material.css";

html,
body {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Blinker', sans-serif, Roboto, "Helvetica Neue", sans-serif;
}

.drop-zone {
  height: 100%;
  margin: auto;
  border: 2px dotted #00d1b2;
  border-radius: 30px;
}

.drop-zone-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #0782d0;
}
